<div class="footer-panel">
    <span>Song text panel</span>
</div>

<div class="song-text-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur cum, dicta dolorum earum enim eos excepturi inventore iure laboriosam
        maxime molestias mollitia natus porro quo ratione reiciendis reprehenderit sequi tempora voluptatem! Accusantium dolore eaque fuga ipsam iusto maiores,
        necessitatibus porro repellendus sint temporibus? Ab beatae, debitis enim esse excepturi exercitationem illo ipsa nesciunt nihil nobis provident quaerat
        quibusdam quisquam quod ratione repellat sunt tenetur ullam vel velit? Accusamus autem debitis dolore dolorum eaque eius est, eum facilis fugiat illo
        ipsam iure natus qui quos recusandae unde vero! Doloremque facere fugit iste iusto, laborum nisi provident quibusdam recusandae sapiente sunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur cum, dicta dolorum earum enim eos excepturi inventore iure laboriosam
        maxime molestias mollitia natus porro quo ratione reiciendis reprehenderit sequi tempora voluptatem! Accusantium dolore eaque fuga ipsam iusto maiores,
        necessitatibus porro repellendus sint temporibus? Ab beatae, debitis enim esse excepturi exercitationem illo ipsa nesciunt nihil nobis provident quaerat
        quibusdam quisquam quod ratione repellat sunt tenetur ullam vel velit? Accusamus autem debitis dolore dolorum eaque eius est, eum facilis fugiat illo
        ipsam iure natus qui quos recusandae unde vero! Doloremque facere fugit iste iusto, laborum nisi provident quibusdam recusandae sapiente sunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur cum, dicta dolorum earum enim eos excepturi inventore iure laboriosam
        maxime molestias mollitia natus porro quo ratione reiciendis reprehenderit sequi tempora voluptatem! Accusantium dolore eaque fuga ipsam iusto maiores,
        necessitatibus porro repellendus sint temporibus? Ab beatae, debitis enim esse excepturi exercitationem illo ipsa nesciunt nihil nobis provident quaerat
        quibusdam quisquam quod ratione repellat sunt tenetur ullam vel velit? Accusamus autem debitis dolore dolorum eaque eius est, eum facilis fugiat illo
        ipsam iure natus qui quos recusandae unde vero! Doloremque facere fugit iste iusto, laborum nisi provident quibusdam recusandae sapiente sunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur cum, dicta dolorum earum enim eos excepturi inventore iure laboriosam
        maxime molestias mollitia natus porro quo ratione reiciendis reprehenderit sequi tempora voluptatem! Accusantium dolore eaque fuga ipsam iusto maiores,
        necessitatibus porro repellendus sint temporibus? Ab beatae, debitis enim esse excepturi exercitationem illo ipsa nesciunt nihil nobis provident quaerat
        quibusdam quisquam quod ratione repellat sunt tenetur ullam vel velit? Accusamus autem debitis dolore dolorum eaque eius est, eum facilis fugiat illo
        ipsam iure natus qui quos recusandae unde vero! Doloremque facere fugit iste iusto, laborum nisi provident quibusdam recusandae sapiente sunt.</p>
</div>